<script lang="ts" setup="">
import { useUserStore } from './stores/userStore';

const uS = useUserStore()
const getUser = computed(() => {
	return uS.getUser
})
onMounted(() => {
	localStorageService.getUserFromLocalStorage();
	const r = useRouter();
	r.push('/')
})

const userName = computed(() => uS.getUserName)

const router = useRouter();
// logout
const logout = async () => {
	await uS.logout()
	await uS.resetUser();
	await router.push('/')
}

// menu
const menu = ref(false)

const menuList = [
	{
		path: '/users',
		name: 'Users',
		icon: 'fa-solid fa-user',
	},
	{
		path: '/create',
		name: 'Create post',
		icon: 'fa-solid fa-arrow-right',
	},
	{
		path: '/posts',
		name: 'Posts',
		icon: 'fa-solid fa-arrow-left',
	},
]


// imports components ----------------------------------
import RegPage from "@/views/RegPage.vue";
import { computed, onMounted, ref } from "vue";
import { localStorageService } from "@/services/localStorage.service";
import { useRouter } from "vue-router";
</script>

<!--Template-->
<template>
	<v-app>

		<template v-if="!getUser">
			<RegPage/>
		</template>
		<template v-else>
			<v-navigation-drawer app :temporary="menu">
				<h3 class="pt-16 mb-10 px-13">
					PHOTO BLOG
				</h3>
				<v-list-item>
					<v-list-item-title>
						{{ userName.name }}
					</v-list-item-title>
				</v-list-item>
				<v-list>
					<v-list-item
						v-for="(item, id) in menuList"
						:key="id"
						:value="item"
						active-color="primary"
						:to="item.path"
					>
						<v-list-item-avatar :icon="item.icon">
						</v-list-item-avatar>
						<v-spacer/>
						<v-list-item-title>{{ item.name }}</v-list-item-title>
						<v-spacer/>
					</v-list-item>
					<v-spacer/>
				</v-list>

			</v-navigation-drawer>
			<v-app-bar app>
				<v-btn @click="menu = !menu">
					<v-icon>
						fa-solid fa-bars
					</v-icon>
				</v-btn>
				<v-spacer/>
				<v-btn @click="logout">Logout</v-btn>
			</v-app-bar>
			<v-main>
				<router-view/>
			</v-main>
		</template>
	</v-app>
</template>

