<script lang="ts" setup="">
import { computed, ref, watch, watchEffect } from "vue";
import { usePostStore } from '@/stores/postStore';

const pStore = usePostStore()

const postTitle = ref('')
const postText = ref('')

const loadImg = ref<boolean>(false)
const fileImage = ref<any>(null)

const onFileSelected = (e: any) => {
	loadImg.value = true
	fileImage.value = e.target.files[0];
	loadImg.value = false
};
const sendPost = () => {
	const fb = new FormData()
	fb.append('image', fileImage.value, fileImage.value.name)
	pStore.createPost({
		title: postTitle.value,
		text: postText.value,
		fileImage: fb
	})
	resetForm()
}


const disBtd = computed(()=> {
	return !(postTitle.value !== '' && postText.value !== '' && fileImage.value !== null)
})

function resetForm () {
	postTitle.value = ''
	postText.value = ''
 	fileImage.value = null
}

</script>

<!--Template-->
<template>
	<v-row  justify="center" align="center">
		<v-col cols="6">
			<v-card class="mt-16">
				<v-card-title class="text-blue-accent-4">
					Create Post
				</v-card-title>
				<v-card class="px-16 py-10 mt-2">
					<v-form>
						<v-text-field
							autofocus=""
							counter=""
							label="Title"
							v-model="postTitle"
						/>
						<v-textarea
							counter=""
							no-resize=""
							label="Text"
							v-model="postText"
						/>
						<v-file-input label="File"
													color="blue"
													density="compact"
													@change="onFileSelected"
													clear-icon="fa-solid fa-file"
													:loading="loadImg"
													show-size clearable accept="image/*"/>

						<v-btn :disabled="disBtd" @click="sendPost" width="150" color="primary">Post</v-btn>
					</v-form>
				</v-card>
			</v-card>
		</v-col>
	</v-row>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>

<!--<input type="text" v-model="postTitle">-->
<!--<textarea v-model="postText"></textarea>-->
<!--<input type="file" @change="onFileSelected" accept="image/*" name="imageUpload">-->
<!--<v-btn @click="sendPost">SEND</v-btn>-->
