<script lang="ts" setup="">
import { computed, onMounted, ref } from "vue";
import useVuelidate from '@vuelidate/core'
import { email, required, sameAs, minLength } from '@vuelidate/validators'
import { useUserStore } from '@/stores/userStore';


const uS = useUserStore()
const tab = ref('login');

const userInputRegister = ref<{ name: string, email: string, password: string, confPassword: string }>(
	{
		name: '',
		email: '',
		password: '',
		confPassword: ''
	}
)
const userInputLogin = ref<{ email: string, password: string }>(
	{
		email: '',
		password: '',
	}
)

// validate reg
const rulesReg = computed(() => {
	return {
		name: { required, minLength: minLength(3) },
		email: { email, required },
		password: { required, minLength: minLength(6) },
		confPassword: { required, sameAs: sameAs(userInputRegister.value.password) }
	}
});
const rulesLogin = computed(() => {
	return {
		email: { email, required },
		password: { required, minLength: minLength(6) },
	}
});

const vReg$ = useVuelidate(rulesReg, userInputRegister.value);
const vLog$ = useVuelidate(rulesLogin, userInputLogin.value);

const submitForm = async () => {
	if (tab.value === 'register') {
		console.log("REGISTER");
		vReg$.value.name.$touch();
		vReg$.value.email.$touch()
		vReg$.value.password.$touch()
		vReg$.value.confPassword.$touch();


		if (!vReg$.value.name.$invalid && !vReg$.value.email.$invalid &&
			!vReg$.value.password.$invalid && !vReg$.value.confPassword.$invalid) {

			uS.signUP(userInputRegister.value);
			tab.value = 'login'
			resetForm()
			return
		}
	} else if (tab.value === 'login') {
		console.log("LOGIN");
		vLog$.value.email.$touch()
		vLog$.value.password.$touch()

		if (!vLog$.value.email.$invalid && !vLog$.value.password.$invalid) {

			uS.signIN(userInputLogin.value);
			resetForm()
			return
		}
	}

}


// validate end
async function resetForm() {
	userInputRegister.value.name = ''
	userInputRegister.value.email = ''
	userInputRegister.value.password = ''
	userInputRegister.value.confPassword = ''
}


</script>

<!--Template-->
<template>
	<v-card width="600" elevation="4">
		<v-tabs v-model="tab">
			<v-spacer/>
			<v-tab value="register">Register</v-tab>
			<v-tab value="login" ref="ll">Login</v-tab>
			<v-spacer/>
		</v-tabs>
		<v-window v-model="tab">
			<v-window-item value="register">
				<v-form @submit="submitForm">
					<v-card class="px-16 py-10">

						<v-text-field v-model="vReg$.name.$model" label="Name" placeholder="Name" type="text"/>
						<div class="input-errors fieldsError"
								 v-for="error of vReg$.name.$errors" :key="error.$uid">
					<span class="error-msg">{{ error.$message }} not is {{
							userInputRegister.name.length
						}}/{{ rulesReg.name.minLength.$params.min }}</span>
						</div>

						<v-text-field v-model="vReg$.email.$model" label="Email" type="text"></v-text-field>
						<div class="input-errors fieldsError"
								 v-for="error of vReg$.email.$errors" :key="error.$uid">
							<span class="error-msg">{{ error.$message }}</span>
						</div>

						<v-text-field v-model="vReg$.password.$model" label="Password" type="password"></v-text-field>
						<div class="input-errors fieldsError"
								 v-for="error of vReg$.password.$errors" :key="error.$uid">
					<span class="error-msg">{{ error.$message }} not is {{
							userInputRegister.password.length
						}}/{{ rulesReg.password.minLength.$params.min }}</span>
						</div>

						<v-text-field v-model="vReg$.confPassword.$model" label="Confirm password" type="password"></v-text-field>
						<div class="input-errors fieldsError"
								 v-for="error of vReg$.confPassword.$errors" :key="error.$uid">
					<span class="error-msg">{{ error.$message }} not is {{
							userInputRegister.password.length
						}}/{{ rulesReg.password.minLength.$params.min }}</span>
						</div>

						<v-btn class="px-6 py-6" type="submit">
							<v-icon start class="mr-4">fa-solid fa-user-plus</v-icon>
							Register
						</v-btn>
					</v-card>
				</v-form>
			</v-window-item>
			<v-window-item value="login">
				<v-form @submit="submitForm">
					<v-card class="px-16 py-10">


						<v-text-field v-model="vLog$.email.$model" label="Email" type="text"></v-text-field>
						<div class="input-errors fieldsError"
								 v-for="error of vLog$.email.$errors" :key="error.$uid">
							<span class="error-msg">{{ error.$message }}</span>
						</div>

						<v-text-field v-model="vLog$.password.$model" label="Password" type="password"></v-text-field>
						<div class="input-errors fieldsError"
								 v-for="error of vLog$.password.$errors" :key="error.$uid">
					<span class="error-msg">{{ error.$message }} not is {{
							userInputLogin.password.length
						}}/{{ rulesLogin.password.minLength.$params.min }}</span>
						</div>

						<v-btn class="px-6 py-6" type="submit">
							<v-icon start class="mr-4">fa-solid fa-arrow-right-to-bracket</v-icon>
							Login
						</v-btn>
					</v-card>
				</v-form>
			</v-window-item>
		</v-window>

	</v-card>


</template>

<!--Styles-->
<style lang="scss" scoped>
.fieldsError {
	position: relative;
	top: -30px;
	color: red;
	font-size: .8rem;
}

</style>
