<script lang="ts" setup="">

import { computed, ref } from "vue";
import { useRoute  } from "vue-router";
import { usePostStore } from '@/stores/postStore'

const pStore = usePostStore()
const route = useRoute();

const postId =  route.params['id'].toString()
const postTitle = ref('')
const postText = ref('')

const savePost = async () => {
	const post = {
		title: postTitle.value.trim(),
		text: postText.value.trim(),
	}
	pStore.postUpdate(post, postId)

	postTitle.value = ''
	postText.value = ''
}
const disBtn = computed(()=> {
	return !(postTitle.value !== '' && postText.value !== '')
})

</script>

<!--Template-->
<template>
	<v-row>
		<v-col cols="4">
			<div class="ml-10 mt-10">
				<h2 class="mb-10">POST EDIT</h2>
				<v-card>
					<v-form class="py-5 px-10">
						<v-text-field v-model="postTitle" label="Edit title"/>
						<v-text-field v-model="postText" label="Edit text"/>
						<div class="d-flex">
							<v-spacer/>
							<v-btn @click.prevent="savePost" :disabled="disBtn">Save</v-btn>
						</div>
					</v-form>
				</v-card>
			</div>
		</v-col>
	</v-row>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>
