<script lang="ts" setup="">
import { notify } from "@kyvg/vue3-notification";
import { useUserStore } from '@/stores/userStore';
import {  onMounted } from "vue";

const uS = useUserStore();

onMounted(() => {
	let msgType = ''
	const str = uS.getNotify.toString()
	if (str.slice(0, 5) !== 'Email') {
		msgType = 'success'
	}else {msgType = 'error'}

	notify({
		title: "Register",
		duration: 3000,
		text: uS.regNotify.toString(),
		type: msgType,
	});
	setTimeout(() => uS.resetNotify(true), 3000)
})


</script>

<!--Template-->
<template>
	<notifications position="top right"/>
</template>

<!--Styles-->
<style lang="scss" scoped>
</style>
