<script lang="ts" setup="">
import { usePostStore } from '@/stores/postStore';
import { useRoute } from "vue-router";
import { computed, onMounted, ref } from "vue";
import {useRouter} from 'vue-router'
import type { postsType } from "@/stores/postStore";

const router = useRouter()
const route = useRoute();
const pStore = usePostStore()
const postId = route.params['id'].toString()
pStore.fetchPostById(postId)
const post  = computed(() => {
	return pStore.getPostById
})

const editPost = ()=> {
	router.push({name: "EditPost", path: `/edit-post/${postId}`})
}
</script>

<!--Template-->
<template>
	<v-row justify="center" class="mt-16">
		<v-col cols="5">
			<v-card width="800">
				<v-card-header>
					<v-card-header-text>{{ post.title }}</v-card-header-text>
				</v-card-header>
				<v-card-content>
					<v-img :src="post.image_url"/>
					<v-card-text> {{ post.text }}</v-card-text>
					<v-card-text>{{ post.created_at }}</v-card-text>
				<div class="d-flex">
					<v-spacer/>
					<v-btn flat="" @click.prevent="editPost">Edit</v-btn>
				</div>
				</v-card-content>

			</v-card>
		</v-col>
	</v-row>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>
