<script lang="ts" setup="">
import { usePostStore } from '@/stores/postStore'
import { computed, } from "vue";
import { useRouter } from "vue-router";

const router = useRouter()
const pStore = usePostStore();

pStore.fetchPosts();

const posts = computed(() => {
	return pStore.getPosts
})

const toPost = (id: string) => {
	router.push({path: `/post/${id}`})
};
</script>

<!--Template-->
<template>
	<v-row justify="center" align="center" class="pt-10">
		<v-col cols='10' class="d-flex flex-column flex-md-row justify-center align-center flex-wrap">
			<v-card width="500" class="mx-5 my-10" elevation="5" v-for="post in posts" :key="post.id">
				<v-card-header>
					<v-card-header-text>{{ post.title }}</v-card-header-text>
				</v-card-header>
				<v-card-content>
					<v-img :src="post.image_url"/>
					<v-card-text>{{ post.text }}</v-card-text>
					<v-btn @click.prevent="toPost(post.id)">Details</v-btn>
				</v-card-content>
			</v-card>
		</v-col>
	</v-row>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>
