<script lang="ts" setup="">
import { computed, onMounted } from "vue";
import { useUserStore } from "@/stores/userStore";

const uStore = useUserStore();

const user = computed(() => {
	return uStore.getUser
})


</script>

<!--Template-->
<template>
	<v-row>
		<v-col>
			<v-card class="ml-10 mt-16" width="400" elevation="5">
				<v-list>
					<v-list-item><strong>ID:</strong> {{ user.id }}</v-list-item>
					<v-list-item><strong>Name:</strong> {{ user.name.toUpperCase() }}</v-list-item>
					<v-list-item><strong>Email:</strong> {{ user.email }}</v-list-item>
				</v-list>
			</v-card>
		</v-col>
	</v-row>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>
