<script lang="ts" setup="">
import UserComponent from '@/components/UserComponent.vue'

</script>

<!--Template-->
<template>
	<v-row>
		<v-col>
			<UserComponent/>
		</v-col>
	</v-row>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>
