<script lang="ts" setup="">
import {useUserStore} from '@/stores/userStore'

const uS = useUserStore();
const okNotify = computed(()=> uS.getNotify)

import FormRegLogComponent from "@/components/FormRegLogComponent.vue";
import NotifyComponent from "@/components/NotifyComponent.vue";
import { computed } from "vue";
</script>

<!--Template-->
<template>
	<v-main>
		<v-row justify="center" align="center">
			<v-col cols="6" class="my-16" offset="2">
				<FormRegLogComponent/>
				<template v-if="okNotify">
					<NotifyComponent/>
				</template>
			</v-col>
		</v-row>
	</v-main>
</template>

<!--Styles-->
<style lang="scss" scoped>

</style>
